{% extends "info/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <nav class="navbar navbar-dark bg-dark mt-5">
    <form class="form-inline" style="width:100%">
      <button class="btn btn-outline-success mr-3 btn-block active" type="button">Current Operating Stores Only</button>
      <button class="btn btn-outline-success mr-3 btn-block" type="button" onclick="document.getElementById('timepicker').style.visibility='visible'">Check Operating Stores By Custom
        Time</button>
        <a class="btn btn-outline-success mr-3 btn-block" type="button" href="{% url 'add-store' %}">Add Store</a>
        <a class="btn btn-outline-success mr-3 btn-block " type="button" href="{% url 'add-dish' %}">Add Dish</a>  
    </form>
  </nav>
  <form  style="visibility: hidden" id="timepicker" action="{% url 'custom-store' %}" method = "POST"> 
    {% csrf_token %} 
    {{ form | crispy}} 
    <input type = "submit" value = "Submit"> 
</form> 
{% endblock %}