{% extends "info/base.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Operating Stores</th>
        <th scope="col">Opening Hours</th>
        <th scope="col">Closing Hours</th>
      </tr>
    </thead>
    <tbody>
        {% for store in stores %}
      <tr>
        <td>{{ store.name }}</td>
        <td>{{ store.start_hour }}</td>
        <td>{{ store.end_hour }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
  <nav class="navbar navbar-dark bg-dark mt-5">
    <form class="form-inline">
      <button class="btn btn-outline-success mr-3 active" type="button">Current Operating Stores Only</button>
      <button class="btn btn-outline-success mr-3" type="button">Check Operating Stores By Custom
        Time</button>
        <a class="btn btn-outline-success mr-3 " type="button" href="{% url 'add-store' %}">Add Store</a>
        <a class="btn btn-outline-success mr-3 " type="button" href="{% url 'add-dish' %}">Add Dish</a>  
    </form>
  </nav>
{% endblock %}