{% extends "info/base.html" %}
{% block custom %}<td><a href="{% url 'dish_custom' store.name %}" >{{ store.name }}</a></td>{% endblock %}
{% block content %}
  <nav class="navbar navbar-dark bg-dark mt-5">
    <form class="form-inline" style="width:100%">
      <a class="btn btn-outline-success mr-3 btn-block " type="button" href="{% url 'current-store' %}">Current Operating Stores Only</a>
      <button class="btn btn-outline-success mr-3 btn-block active" type="button" >Check Operating Stores By Custom
        Time</button>
        <a class="btn btn-outline-success mr-3 btn-block" type="button" href="{% url 'add-store' %}">Add Store</a>
        <a class="btn btn-outline-success mr-3 btn-block " type="button" href="{% url 'add-dish' %}">Add Dish</a>  
    </form>
  </nav>
{% endblock %}