<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand " href="{% url 'info' %}" >
              Canteen Information Sytem
            </a>
          </nav>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    {%if item %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Dishes</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Price ($)</th>
          </tr>
        </thead>
        <tbody>
            {% for dish in item %}
          <tr>
            <td>{{ dish.dname }}</td>
            <td>{{ dish.start_hour }}</td>
            <td>{{ dish.end_hour }}</td>
            <td>{{ dish.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    <button class="btn btn-warning btn-lg mb-3" onclick="displayInput()">Check Queue Time</button>
    <div class="form-group" style="display:none;" id="qInput">
      <label for="ppl" style="font-size: x-large;color:#373737;">How many people in queue?</label>
      <select class="form-control" id="ppl">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
      </select>
    <button class="btn btn-primary btn mt-3" onclick="calculateQT({{ store.wait_time }})">Calculate Queue Time</button>  
    </div>
    {% else %}
      <h2>Sorry, no dishes available by this time</h2>  
    {% endif %}    
    <!-- {%if store %}
        <h1>{{ store.wait_time }}</h1>
    {% endif %}   -->
    <script>
        function displayInput()
        {
            var qInput= document.getElementById("qInput");
            if(qInput.style.display=="none"){
                qInput.style.display="block";
            }
            else{
                qInput.style.display="none";
            }      
        }

        function calculateQT(wait_time)
        {
            var number=document.getElementById("ppl").value;
            alert("You'll have to wait about "+number*wait_time+" minutes")
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>